#body {
		background: #22262B;
		color: #fff;
}

.heading {
	font-family: 'Pacifico', cursive;
}

.board {
	margin-top : 20px;
	border: 2px solid #fff;
}

td {
	font-family: 'Passion One', cursive;
	font-size: 40px;
	border: 2px solid #fff;
	text-align: center;
}